.login-card{
  border: 1px solid lightgrey;
  max-width: 450px;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 8px;
  padding: 20px;
}
.mt-10{
  margin-top:10px;
}
.stock-item-list {
  border: 1px solid #dfdfdf;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
}
.right-tab-height{
  max-height: 400px;
  overflow: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.min-width-125{
  min-width:125px;
}
.min-width-100{
  min-width:100px;
}
.text-red{
  color:red;
}
.m-t-35{
  margin-top:35px;
}
.canvasjs-chart-credit{
  display: none;
}